.list {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
  }
  
  .img {
    margin-bottom: 10px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0;
  }
  .name {
    margin-top: 5px;
  }